<div class="section" id="player-index">

<h2>Listing players</h2>

<p class="desc">Sorted by most games played</p>

<% @players.each do |player| %>
  <%= link_to player, :class => "player-stub clearfix #{'you' if player == current_player}" do %>
    <%= image_tag avatar(player) %>
    <div class="info">
      <h3><%= player.name %> <small><%= "@#{player.twitter}" if not player.twitter.blank? %></small></h3>
      <ul class="clearfix">
        <% if player.active %>
          <li><strong>Played:</strong> <%= player.games_played %></li>
          <li><strong>First Place:</strong> <%= first_place(player) %></li>
          <li><strong>Won:</strong> <%= amount_won(player) %></li>
          <li><strong>Profit:</strong> <span class="<%= ((amount_profited(player,1) > 0) && 'positive') || 'negative' %>"><%= amount_profited(player) %></span></li>
        <% else %>
          <li><strong>Status:</strong> Inactive</li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<% @players.each do |player| %>
  <!-- <tr>
      <td><%= link_to 'Show', player %></td>
      <td><%= link_to 'Edit', edit_player_path(player) %></td>
      <td><%= link_to 'Destroy', player, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr> -->
<% end %>

</div>